<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <app-alert *ngIf="showAlert" [sumOfIpNumbers]="sumOfIpNumbers"></app-alert>
    </div>
</div>
<div class="d-flex flex-column">
    <h3 class="mb-1 mb-xl-4 ">Votre Shynleï c'est..</h3>
    <p class="text-wrap w-100 fs-7">
        7 étapes, 2 fiches pour prendre note des rencontres,
        1 page pour éclairer le sens, 3 interprtations pour vous aider..

    </p>
    <div class="row align-items-center ">
        <div class="col-12 col-xl-6 mb-1 mb-xl-3" *ngFor="let componentName of componentNames">
            <ng-container *ngComponentOutlet="getComponent(componentName)">

            </ng-container>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <button *ngIf="isMobileScreen; else elseBlock" type="button" 
                class="btn btn-sm btn-my-color border-0"
                [disabled]="false" (click)="getDataOfIpAddress()">
                EXPRIMER MES RÊVES >
            </button>
            <ng-template #elseBlock>
                <button type="button" class="btn btn-sm btn-my-color border-0" 
                    [disabled]="disableButton"
                    (click)="getDataOfIpAddress()">
                    EXPRIMER MES RÊVES >
                </button>
            </ng-template>
        </div>
    </div>
</div>