<div class="bg-image d-flex align-items-start align-items-xl-center img-background">
    <div class="container align-items-start">
        <app-header></app-header>
        <div class="row ">
            <div class="col-12 col-md-6 col-xl-5 d-none d-md-block ">
                <app-left-section></app-left-section>
            </div>
            <div class="col-12 col-md-6 col-xl-7">
                <app-right-section></app-right-section>
            </div>
        </div>
    </div>
</div>



















<!--
    <div class="bg-image d-flex align-items-start align-items-xl-center img-background">
    <div class="container">
        <app-header></app-header>
        <div class="row h-100">
            <form class="col-12 col-md-6 text-white d-flex flex-column justify-content-center">
                <h3 class="mb-4 ">Pour commencer...</h3>
                <p class="text-wrap w-75 w-md-50">
                    Faire votre Shynlei, jouer avec,
                    c'est l'occasion d'écouter vos reves,
                    de les partager et de prendre confiance dans votre richesse.
                </p>
                <label class="form-label mt-3" for="nomPrenom">Nom et prénom : </label>
                <input type="text" id="nomPrenom"
                    class="form-control inputStyle rounded-0 border-start-0 border-top-0 border-end-0 border-2 w-50"
                    placeholder="Jeal" />

                <label class="form-label mt-3 mb-2 " for="intention">Mon intention : </label>
                <small class="fs-6 fw-light mb-1">L'intention, l'objectif de ce Shynlei</small>
                <input type="text" id="intention"
                    class="form-control inputStyle rounded-0 border-start-0 border-top-0 border-end-0 border-2 w-50"
                    placeholder="Mon rel" />
            </form>
        <div class="col-12 col-md-6 d-flex flex-column " style="margin-left: -80px;">
            <h3 class="mb-4 ">Votre Shynlei c'est..</h3>
            <p class="text-wrap w-100 ">
                7 étapes, 2 fiches pour prendre note des rencontres,
                1 page pour éclairer le sens, 3 interprtations pour vous aider..
                
            </p>
                <div class="row " >
                    <div class="col-12 col-md-6" *ngFor="let componentName of componentNames">
                        <ng-container *ngComponentOutlet="getComponent(componentName)">
                    
                        </ng-container>
                    </div>
                </div>
        </div>
    </div>
    </div>
</div>
-->